<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Visa" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.0.0" newVersion="5.8.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
